<h2>Libary</h2>
<div>
<table id="table-libary" class="table table-condensed table-bordered table-striped">
<thead>
	<tr>
		<th>Track</th>
		<th>Album</th>
		<th>Artist</th>
	  <th>Action</th>
	</tr>
<thead>
<tbody>
<% tracks.tracks.forEach(function(track){ %>
		<tr>
		<td><%= track.data.name %></td>
		<td><%= track.data.album.name %></td>
		<td><%= track.data.album.artist.name %></td>
		<td class="action queue-track" data-track-uri="<%= track.data.uri %>"><span class="btn btn-info btn-xs">Queue</span></td>
	</tr>
<% }) %>
</tbody>
</table>
</div>