<h2>Libary</h2>
<div>
<table id="table-libary" class="table table-condensed table-bordered table-striped">
<thead>
	<tr>
		<th>Track <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></th>
		<th>Album <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></th>
		<th>Artist <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></th>
	</tr>
<thead>
<tbody>
<% tracks.tracks.forEach(function(track){ %>
		<tr>
		<td><%= track.data.name %></td>
		<td><%= track.data.album.name %></td>
		<td><%= track.data.album.artist.name %></td>
		<td class="action queue-track" data-track-uri="<%= track.data.uri %>"><span class="btn btn-info btn-mini">Queue</span></td>
	</tr>
<% }) %>
</tbody>
</table>
</div>