<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="jumbotron">
      <div class="container">
       <h1 class="pull-left">Spotibeef</h1>

        <div id="controls" class="pull-right">
          <button type="button" id="previous" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
          <button type="button" id="play" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button type="button" id="pause" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
          <button type="button" id="next" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        </div>

      </div>
    </div>

   

    <div class="container">
      
      <div class="row">
        <div id="current_track"></div>
      </div><!-- eo: row -->

      <div class="row">
        <div class="col-md-12">
          <div id="queue"></div>
        </div>
      </div><!-- eo: row -->

      <div class="row">
        <div class="col-md-12">
          <div id="pagination"></div>
          <div id="playlist"></div>
        </div>
      </div><!-- eo: row -->



    </div><!-- eo:container -->

</div>


  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/ejs.min.js"></script>
  <script src="/javascripts/tablesort.min.js"></script>
  <script src="/javascripts/master.js"></script>

  </body>
</html>