<h2>Play Queue</h2>

<div>
<table class="table table-condensed table-bordered table-striped">
<thead>
	<tr>
		<th>Track</th>
		<th>Album</th>
		<th>Artist</th>
	</tr>
<thead>
<tbody>
<% tracks.tracks.forEach(function(track){ %>
	<% if(track.data.uri === current_track_uri) { %>
		<tr class="success">
	<% } else { %>
		<tr>
	<% } %>
		<td><%= track.data.name %></td>
		<td><%= track.data.album.name %></td>
		<td><%= track.data.album.artist.name %></td>
		<td class="remove-track" data-track-uri="<%= track.data.uri %>"><span class="btn btn-danger btn-mini">remove</span></td>
	</tr>
<% }) %>
</tbody>
</table>
</div>