/*-------Track Details-------*/
.details{font-size: 20px;}
#cover img {max-width: 320px;}

/*Sortable*/
/*th i{ float: right;}
th.sort-down i.icon-chevron-up {display: none;}
th.sort-up i.icon-chevron-down {display: none;}*/

/*Header*/
/*#controls{padding: 0 0 10px 0;}