<div id="cover"</div>
<p>Track: <span id="track"><%= track_data.name %></span></p>
<p>Album: <span id="album"><%= track_data.album %></span></p>
<p>Artist: <span id="artist"><%= track_data.artist %></span></p>