<div class="span4">
	<div id="cover"></div>
</div>

<div class="span8 details">
	<p>Track: <span id="track"><%= track_data.name %></span></p>
	<p>Artist: <span id="artist"><%= track_data.artist %></span></p>
	<p>Album: <span id="album"><%= track_data.album %></span></p>
</div>