<div class="col-md-4">
	<div id="cover"></div>
</div>
<div class="col-md-8 details">
	<p><strong>Track</strong>: <span id="track"><%= track_data.name %></span></p>
	<p><strong>Artist</strong>: <span id="artist"><%= track_data.artist %></span></p>
	<p><strong>Album</strong>: <span id="album"><%= track_data.album %></span></p>
</div>